<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Create</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}" />
  <link rel="stylesheet" th:href="@{/css/create.css}"/>
  <link rel="stylesheet" th:href="@{/css/elndetails.css}" />
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>
<body>
<!-- same navbar, no changes needed -->
<div th:replace="/fragments/header :: header"></div>
<div th:replace="/fragments/createDetail :: createDetail"></div>

</body>
</html>
